/* Grid */

#posts { margin: 30px auto 0; }
.post {
    margin: 0 0 5px;
    text-align: center;
    width: 100%;
}
.post img { padding: 0 5px; width: 100%; }

/*#grid.container .post img { padding: 0; }*/


/* Medium devices */

@media (min-width: 768px) {
    #grid > #posts .post { width: 335px; }
    #grid > #posts .post.cs2 { width: 100%; }
    .post img { padding: 0; }
}



/* Medium devices */

@media (min-width: 992px) {
    #grid > #posts .post { width: 445px; }
    #grid > #posts .post.cs2 { width: 100%; }
}



/* Large devices */

@media (min-width: 1200px) {
    #grid > #posts .post { width: 346px; }
    #grid > #posts .post.cs2 { width: 742px; }
}
@media (min-width: 1300px) {
    #grid {
        position: relative;
    }
    #grid.container {
        left: auto;
        padding-left: 15px;
        padding-right: 15px;
    }
}

.cover-card {
    padding: 0px;
    margin: 0px;
    height: 200px;
}
.cover-card img{
    height: 200px;
    width: 100%;
}

.cover-card h2 {
    position: absolute;
    display: block;
    color: #FFF;
    font-weight: normal;
    font-size: 16px;
    padding: 5px 10px;
    background: rgba(0,0,0,.4);
    margin: 0 0 0 0px;
    /*z-index: 99;*/
}
.cover-card a{
    color: #ffffff;
}
span.text-content {
    background: rgba(0,0,0,0.5);
    color: white;
    cursor: pointer;
    display: table;
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    font-size: 32px;
    width: 100%;
    opacity: 0;
    -webkit-transition: opacity 500ms;
    -moz-transition: opacity 500ms;
    -o-transition: opacity 500ms;
    transition: opacity 500ms;
}

span.text-content span {
    display: table-cell;
    text-align: center;
    vertical-align: middle;
}

.cover-card:hover span.text-content {
    opacity: 1;
}

.pace {
    -webkit-pointer-events: none;
    pointer-events: none;

    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;

    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    -o-box-sizing: border-box;
    box-sizing: border-box;

    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;

    -webkit-background-clip: padding-box;
    -moz-background-clip: padding;
    background-clip: padding-box;

    z-index: 2000;
    position: fixed;
    margin: auto;
    top: 12px;
    left: 0;
    right: 0;
    bottom: 0;
    width: 200px;
    height: 50px;
    overflow: hidden;
}
